<!--LunaB28-->
<div class="bg-light">
<div class="m-5 p-5 row">
    <img src="https://media.licdn.com/dms/image/v2/C4D0BAQGDWlGMYiEMPA/company-logo_200_200/company-logo_200_200/0/1672041489144/imagenai_logo?e=2147483647&v=beta&t=hThQUkQ5Pv8DLIy8dlWmHjTHEEM3jYLXbp2B41yZ8zE" class="rounded-circle col-4" alt="...">
    <div class="col-8">
    <h1>The Second Heading<span class="text-secondary"> Is Prety Cool Too.</span></h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, aut alias? Aut vitae repudiandae non dicta modi itaque nesciunt amet nobis qui distinctio! Laboriosam asperiores non amet eum debitis dignissimos fuga ullam totam autem repudiandae?</p>
</div>
</div>
</div>